.OuterContainer
{
    background-color: gray;
}
@media only screen and (max-width: 479px)
{
.OuterContainer
{
    background-color:black;
}
.textColor
{
    
    color: white;
    
}

}
.text-align-center
{
    text-align: center;
}
.textColor
{
    color:black;
    
}